<div class="container-sm">
  <h1 class="text-center fs-1">Módulo de Pedido</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Info</th>
        <th>Precio Total</th>
        <th>Usuario</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>EstadoE</th>
        <th>Notificación</th>
        <th>Cancelado</th>
        <th>Método de Pago</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.PED_ID }}</td>
        <td>{{ pedido.PED_FECHA | date:'yyyy-MM-dd' }}</td>
        <td>
          <ul>
            <li *ngFor="let item of pedido.PED_INFO">
              ID: {{ item.id }}, Cantidad: {{ item.cantidad }}
            </li>
          </ul>
        </td>
        <td>{{ pedido.PED_PRECIO_TOTAL | currency }}</td>
        <td>{{ pedido.rguUsuario.RGU_NOMBRES }}</td>
        <td>{{ pedido.PED_DESCRIPCION }}</td>
        <td>{{ pedido.PED_ESTADO }}</td>
        <td>{{ pedido.PED_ESTADOE }}</td>
        <td>{{ pedido.PED_NOTIFICACION }}</td>
        <td>{{ pedido.PED_CANCELADO }}</td>
        <td>{{ pedido.PED_MET_PAGO }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="pedidos.length === 0">
    No hay pedidos disponibles.
  </div>
</div>
